# 1. The python data model

## Implementing a card deck in python
Aim to implement two special methods: `__getitem__` , `_len__`

In [28]:
import collections

In [2]:
# A collection class to represent individual cards
Card = collections.namedtuple( 'card', ['rank', 'suit'])
Card

__main__.card

In [3]:
class FrenchDeck:
    ranks = [str(n) for n in range(2, 11)] + list('JQKA')
    suits = 'spade diamonds clubs hearts'.split()
    
    def __init__(self):
        self._cards =  [Card(rank, suit) for suit in self.suits
                                         for rank in self.ranks]
        
    def __len__(self):
        return len(self._cards)
    
    def __getitem__(self, position):
        return self._cards[position]

In [4]:
beer_card = Card('7', 'diamonds')
beer_card

card(rank='7', suit='diamonds')

In [5]:
deck = FrenchDeck()
len(deck)

52

In [6]:
# reading cards from decks
deck[0]

card(rank='2', suit='spade')

In [7]:
from random import choice

In [8]:
# Get random cards from decks
choice(deck)

card(rank='3', suit='diamonds')

In [9]:
# slicing in python
deck[:3]

[card(rank='2', suit='spade'),
 card(rank='3', suit='spade'),
 card(rank='4', suit='spade')]

In [10]:
deck[12::13]

[card(rank='A', suit='spade'),
 card(rank='A', suit='diamonds'),
 card(rank='A', suit='clubs'),
 card(rank='A', suit='hearts')]

In [11]:
suit_values = dict(spades=3, hearts=2, diamonds=1, clubs=0)
suit_values

{'spades': 3, 'hearts': 2, 'diamonds': 1, 'clubs': 0}

In [27]:
# FrenchDeck is immutable. that will be fixed by adding a one-line method. __setitem__

<img src="./special_method_name.PNG">
<img src="./special_operators.PNG">

## inheritance table for  sequence containers
<img src="./iterable_table.PNG">

## list comprementions

In [34]:
symbols = "$¢£¥€¤"
listcomps = [ord(x) for x in symbols]
listcomps

[36, 162, 163, 165, 8364, 164]

In [38]:
listcomps1 = [ord(x) for x in symbols if ord(x) > 127]
listcomps1

[162, 163, 165, 8364, 164]

In [40]:
# map & filter
listcomps2 = list(filter(lambda x: x> 127 , map(ord, symbols)))
listcomps2

[162, 163, 165, 8364, 164]

In [41]:
# Cartesian product using a list comprehension
colors = ['red', 'black']
sizes = ['s', 'm', 'l']
tshirts = [(color, size) for color in colors 
                         for size in sizes ]
tshirts

[('red', 's'),
 ('red', 'm'),
 ('red', 'l'),
 ('black', 's'),
 ('black', 'm'),
 ('black', 'l')]

* This generates a list of tuples arranged by color, then size
* the resulting list is arranged as if the for loops were nested in the same order as they appear in the listcomp
* To get items arranged by size, then color, just rearrange the for clauses; adding a line break to the listcomp makes it easy to see how the result will be ordered

In [43]:
tshirts = [(size, color) for size in sizes
                         for color in colors ]
tshirts

[('s', 'red'),
 ('s', 'black'),
 ('m', 'red'),
 ('m', 'black'),
 ('l', 'red'),
 ('l', 'black')]

In [44]:
# genexps
tuple(ord(x) for x in symbols )

(36, 162, 163, 165, 8364, 164)

In [46]:
import array
array.array('I', tuple(ord(x) for x in symbols ))

array('I', [36, 162, 163, 165, 8364, 164])

* Genexps use the same syntax as listcomps, but are enclosed in parentheses rather than brackets
* If the generator expression is the single argument in a function call, there is no need to duplicate the enclosing parentheses.

In [51]:
for tshirt in ("%s %s" %(c,s) for c in colors for s in sizes):
    print(tshirt)

red s
red m
red l
black s
black m
black l

* the generator expression feeds the for loop producing one item at a time.
* The generator expression yields items one by one; a list with all six T-shirt variations is never produced in this example.

### tuples can be used as : they can be used as immutable lists and also as records with no field names.
### Tuples hold records: each item in the tuple holds the data for one field and the position of the item gives its meaning.
### using a tuple as a collection of fields, the number of items is often fixed and their order is always vital
### Sometimes when we only care about certain parts of a tuple when unpacking, a dummy variable like _ is used as placeholder

In [56]:
# tuple unpacking
lat, lon = (23.3456, 45.43553)
lat,lon

(23.3456, 45.43553)

In [58]:
# Using * to grab excess items
a,b, *rest = range(5)
a,b, rest

(0, 1, [2, 3, 4])

### sometimes it is desirable to name the fields. That is why the function namedtuple

In [63]:
# named tuples
from collections import namedtuple
city = namedtuple('city', 'name country population coordinates')
tokyo = city ('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

city(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [64]:
tokyo.population

36.933

In [65]:
tokyo[1]

'JP'

In [68]:
tokyo._asdict()

{'name': 'Tokyo',
 'country': 'JP',
 'population': 36.933,
 'coordinates': (35.689722, 139.691667)}

In [69]:
tokyo._fields

('name', 'country', 'population', 'coordinates')

In [71]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
city._make(delhi_data)

city(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))

* Two parameters are required to create a named tuple: a class name and a list of field names, which can be given as an iterable of strings or as a single space delimited string.
* You can access the fields by name or position.

In [72]:
quotient, remainder = divmod(20, 8)
quotient, remainder

(2, 4)

### tuple as immutable list

* supports all methods that do tuple list not involve adding or removing items
* tuple lacks the __reversed__ method. 
* works reversed(my_tuple) without it.
<img src="./list_tuple_methods.PNG">
<img src="./list_tuple_methods2.PNG">

### slicing objects

In [73]:
a = [1, 2, 3, 4, 5, 6 ]

In [75]:
#split at position, prints all elements but the last index
a[:3]

[1, 2, 3]

In [77]:
# split with stride
a[::2]

[1, 3, 5]

In [78]:
a[::-2]

[6, 4, 2]

In [79]:
# repeating sequences
a * 3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [80]:
seq = "addffg"
seq * 3

'addffgaddffgaddffg'

In [85]:
# correct way of 2d element creating list
correct_way = [['_'] * 3 for i in range(3)]
correct_way

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [86]:
correct_way[1][2] = 'X'
correct_way

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [87]:
wrong_way = [['_'] * 3] * 3
wrong_way

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [88]:
wrong_way[1][2] = 'X'
wrong_way

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

In [89]:
row = ['_'] * 3
arr = []
for x in range (3):
    arr.append(row)
arr

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [91]:
arr[1][2] = 'X'
arr

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

In [96]:
arr = []
for x in range(3):
    row = ['_' ] * 3
    arr.append(row)
arr[1][2] = 'X'
arr

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

### augmented assignment with +=

In [103]:
l = [1,2,3]
id(l)

140489654168640

In [104]:
l *= 2
id(l)

140489654168640

In [105]:
l_ = (1,2,3)
print(id(l_))
l_ *= 2
print(id(l_))

140489856898880
140489858198400

* Repeated concatenation of immutable sequences is inefficient, it has to copy whole target sequence to create a new one.

In [107]:
t = (1, 2, [20, 30])
t[2] += [40, 50]

TypeError: 'tuple' object does not support item assignment

In [108]:
import dis
dis.dis('s[a] += b')

  1           0 LOAD_NAME                0 (s)
              2 LOAD_NAME                1 (a)
              4 DUP_TOP_TWO
              6 BINARY_SUBSCR
              8 LOAD_NAME                2 (b)
             10 INPLACE_ADD
             12 ROT_THREE
             14 STORE_SUBSCR
             16 LOAD_CONST               0 (None)
             18 RETURN_VALUE

* Putting mutable items in tuples is not a good idea.
* Augmented assignment is not an atomic operation we just saw it throwing an exception after doing part of its job.
* Inspecting Python bytecode is not too difficult, and is often helpful to see what is going on under the hood.

In [124]:
### sorting  lists
l = ['grape', 'raspberry', 'apple', 'banana']

In [125]:
sorted(l)

['apple', 'banana', 'grape', 'raspberry']

In [126]:
l

['grape', 'raspberry', 'apple', 'banana']

In [120]:
sorted(l, reverse=True)

[8, 4, 3, 1]

In [127]:
sorted(l,key=len, reverse=True)

['raspberry', 'banana', 'grape', 'apple']

In [128]:
l.sort()
l

['apple', 'banana', 'grape', 'raspberry']

* only after calling .sort() the list elements gets sorted
* sorted(list, key=, reversed=) takes two args key, reversed
* key takes the operation to be implemented on each element : len, str.lower
* if reversed is true the sorts the element in descending order.

### lists are not used in the following scnerios:
* if we need to store large elements: Array can be used because an array does not actually hold full-fledged objects, but only the packed bytes representing their machine value
* if we need to add and remove elements constantly.: Deque is most suited
* But inserting and removing from the left of a list (the 0-index end) is costly because the entire list must be shifted.

### Deque

* The class is a thread-safe double-ended queue designed for fast collections.deque inserting and removing from both ends.

* It is also the way to go if you need to keep a list of “last seen items” or something like that, because a can be bounded—i.e., created deque with a maximum length—and then, when it is full, it discards items from the opposite end when you append new ones.

In [132]:
from collections import deque

In [158]:
dq = deque(range(10), maxlen=10)
dq

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [159]:
dq.rotate(3)
dq

deque([7, 8, 9, 0, 1, 2, 3, 4, 5, 6])

In [160]:
dq.rotate(-4)
dq

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

In [161]:
dq.appendleft(-1)
dq

deque([-1, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [162]:
dq.extend([11,22,33])
dq

deque([3, 4, 5, 6, 7, 8, 9, 11, 22, 33])

In [163]:
dq.extendleft([10,20,30,40])
dq

deque([40, 30, 20, 10, 3, 4, 5, 6, 7, 8])

* maxlen argument sets the maximum number of items allowed in this instance of deque; this sets a read-only maxlen instance attribute.
* Rotating with n > 0 takes items from the right end and prepends them to the left; when n < 0 items are taken from left and appended to the right.
* removing items from the middle of a deque is not as fast. It is really optimized for appending and popping from the ends.

### comparison between list and dequeue
<img src="./list_dqueue.PNG">
<img src="./list_dqueue2.PNG">
<img src="./list_dqueue3.PNG">

### queue

* provides 3 synchronized (thread-safe) classes Queue, LifoQueue, PriorityQueue
* all the three class need maxlen argument for a fixed number
* when the queue is full the does not discard the new elements it waits for new thread to make room for the new block item