# Functions as first class objects

### First class functions are defined as :
functions as first class objects are called as first-class functions
* Created at runtime
* Assigned to a variable and data structure
* Passed as an argument to a function
* Returned as a result of the function

Integers, Strings, and Dictionaries are examples of first-class functions

In [3]:
def factorial(n):
    '''returns n!'''
    return 1 if n < 1 else n * factorial(n-1)

In [4]:
factorial(42)

1405006117752879898543142606244511569936384000000000

In [5]:
factorial.__doc__

'returns n!'

In [6]:
type(factorial)

function

In [7]:
fact = factorial

In [8]:
fact(5)

120

In [9]:
map(fact, range(5))

In [10]:
list(map(fact, range(5)))

[1, 1, 2, 6, 24]

### Higher Order Functions
#### Functions that takes a functions as an argument or returns a function as a result is a Higher Order Function.

**all(iterable)** : Returns True if every element of the iterable is truthy; all([]) returns True.</br>
**any(iterable)** : Returns True if any element of the iterable is truthy; any([]) returns False.